# Sprint 6 - Week 1 - Class 1

Tratamiento de datos de juegos

# Librerías y datos a utilizar

In [1]:
#Importar librerias relevantes
import pandas as pd
pd.options.display.max_columns = None
import numpy as np
from scipy import stats as st

#Leer archivo de trabajo
df_games = pd.read_csv("games.csv", sep = ",")

# Diagnóstico inicial

## E1: Info, head y conteo de nulos

Obtén:

-   Informacion general
-   Cabecera
-   Conteo de valores perdidos

In [2]:
# Informacion general
df_games.info()

# Cabecera
df_games.head(10)

# Conteo de valores perdidos
df_games.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

# Preparación de datos

## E2: Nombres de columnas

-   Poner los nombres de las columnas en minusculas

In [3]:
#Poner los nombres de las columnas en minusculas
nombres = list(df_games.columns)
nombres_new = [nombre.lower() for nombre in nombres]
df_games.columns = nombres_new
df_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

## E3: Columna names

-   Imprime una tabla con nombre del juego y un conteo de veces que se
    repite ese nombre, ordenado de mayor a menor
-   Poner todos los nombres en minúsculas
-   Quitar espacios al inicio o al final
-   Borrar todos los “:”
-   Verifica cómo quedó esa columna luego de las modificaciones

In [4]:
#Visualizar casos
df_games['name'].value_counts(dropna=False).sort_values(ascending=False)

df_games['name'] = df_games['name'].str.lower().str.strip().str.replace(":","")

df_games['name'].value_counts(dropna=False).sort_values(ascending=False)

name
need for speed most wanted            12
fifa 14                                9
lego marvel super heroes               9
ratatouille                            9
madden nfl 07                          9
                                      ..
15 days                                1
aiyoku no eustia                       1
woody woodpecker in crazy castle 5     1
lma manager 2007                       1
girls only                             1
Name: count, Length: 11549, dtype: int64

## E4: Missing values - columna name

-   Identificar los casos perdidos para columna “name”
-   Reemplazar los missing values por algún valor que te parezca
    razonable (si es que reemplazar te parece razonable)

In [5]:
#Identificar los casos perdidos
df_games[df_games['name'].isna()]

#Reemplazar datos perdidos
df_games['name'] = df_games['name'].fillna("not_defined")
df_games[df_games['name'] == "not_defined"]

## E5: Columna platform_group

-   Crear grupos de plataformas y guardalos en una nueva columna llamada
    platform_group.

In [6]:
#Visualizar casos
df_games['platform'].value_counts(dropna=False).sort_index(ascending=True)

#Crear grupo de Plataformas
def GrupoPlat (x):
    if x in ['3DS','DS','GB','GBA','GC','N64','NES','SNES','Wii','WiiU']:
        return "Nintendo"
    elif x in ['PC','PCFX']:
        return "PC"
    elif x in ['PS','PS2','PS3','PS4','PSP','PSV']:
        return "PlayStation"
    elif x in ['X360','XB','XOne']:
        return "XBox"
    else:
        return "Other"
        
df_games['platform_group'] = df_games['platform'].apply(GrupoPlat)
df_games.sample(10)

df_games['platform_group'].value_counts()

platform_group
PlayStation    6720
Nintendo       6270
XBox           2333
PC              975
Other           417
Name: count, dtype: int64

## E6: Columna Year of Release

-   Visualizar casos
-   Identificar los casos perdidos
-   SIN imputar, extrae estadísticas básicas respecto a esta columna.
    Hay muchas formas de hacerlo. Para una de ellas, te puede servir
    usar `.notnull()` dentro de un `query`.

In [7]:
#Visualizar casos
df_games['year_of_release'].describe()

#Identificar los casos perdidos
df_games[df_games['year_of_release'].isna()]

df_games.query("year_of_release.notnull()")['year_of_release'].describe()

count    16446.000000
mean      2006.484616
std          5.877050
min       1980.000000
25%       2003.000000
50%       2007.000000
75%       2010.000000
max       2016.000000
Name: year_of_release, dtype: float64